<h4>Want to stay up to date on these projects? Enter your email below, and you'll get an approximately-monthly newsletter from me.</h4>
<form class="ck-form" 
  action="https://buttondown.email/api/emails/embed-subscribe/josht"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/josht', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email" />
  
  <input type="submit" value="Subscribe" />
  <p><i>If you don't see the subscribe form above, <a href="https://buttondown.email/josht">click here</a>.</i></p>
  <p><i>Readers have rated these messages from me as variations of 'interesting-enough', 'thought-provoking', and 'worthwhile'. It's also easy to unsubscribe from.</i></p>
</form>

