<aside class="ck-form">
  <h4>Want to stay up to date on these projects? Enter your email below, and you'll get an approximately-monthly newsletter from me.</h4>
  <script async data-uid="b69af6ca8e" src="https://josh-thompson.ck.page/b69af6ca8e/index.js"></script>
  <p><i>If you don't see the subscribe form above, <a href="https://josh-thompson.ck.page/b69af6ca8e">click here</a>.</i></p>
  <p><i>Readers have rated these messages from me as variations of 'interesting-enough', 'thought-provoking', and 'worthwhile'. It's also easy to unsubscribe from.</i></p>
</aside>